{% extends 'base.html' %}

{% block content %}
    <div class="m-4">
        <a href="{% url 'homepage:show_homepage' %}" class="text-white bg-gray-500 hover:bg-gray-700 py-2 px-4 rounded-full">
            Back
        </a>

        <table>
            <tr>
                <th>No</th>
                <th>Book Cover</th>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Year Published</th>
            </tr>
        
            {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
        
            {% for book in books %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>
                        <a href="{% url 'review:book_review' id=book.id %}"> <!-- Link to book details page -->
                            <img src="{{ book.image_link }}" alt="book cover">
                        </a>
                    </td>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.category}}</td>
                    <td>{{book.year_of_published}}</td>
                </tr>
            {% endfor %}
        </table>
    
    </div>
    
{% endblock content %}