{% extends 'base.html' %}

{% block content %}
<div class="m-4">
    <a href="{% url 'homepage:show_homepage' %}" class="text-white bg-gray-500 hover-bg-gray-700 py-2 px-4 rounded-full">
        Back
    </a>
    
    <a href="{% url 'exchange:show_offers' %}" class="text-white bg-gray-500 hover-bg-gray-700 py-2 px-4 rounded-full">
        My Offers
    </a>

    <div class="flex flex-wrap justify-center">
        {% for user in users %}
        <div class="max-w-sm m-4 bg-white rounded-lg shadow-md dark:bg-gray-800">
            <img class="w-full h-48 object-cover" src="https://media.discordapp.net/attachments/1054028087551078452/1167449134421254194/def.png?ex=654e2abb&is=653bb5bb&hm=627c977e5a4ddfc7fde42bede685dd1430d9f8bd22a155811a9cc2f9e1c185cc&=&width=125&height=125" alt="User Image">
            <div class="p-4">
                <h2 class="text-xl font-semibold text-gray-800 dark-text-gray-200">{{user.username}}</h2>
                <button class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-lg hover-bg-blue-600 focus-ring-2 focus-ring-blue-400 focus-outline-none" onclick="openModal(this.getAttribute('data-username'))" data-username="{{user.username}}">
                    See Inventory
                </button>
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="inventoryModal" class="fixed inset-0 z-50 flex items-center justify-center" style="display: none;">
        <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
            <div class="modal-content py-4 text-left px-6">
                <div class="flex justify-between items-center pb-3">
                    <p class="text-2xl font-bold" id="userInventory"></p>
                    <button class="modal-close" onclick="closeModal()">
                        <span class="text-2xl">&times;</span>
                    </button>
                </div>
                <div id="books">
                </div>
                <button id="sendOfferLink" class="bg-blue-500 hover-bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Send Offer
                </button>
            </div>
        </div>
    </div>    
</div>

<script>
    $(document).ready(function () {
        // Handle the "Send Offer" link
        $("#sendOfferLink").click(function () {
            var url = "/exchange/offer-user/";
            window.location.href = url;
        });
    });

    function closeModal() {
        // Hide the modal
        $("#inventoryModal").hide();
        // Perform any additional actions as needed
    }


    async function getInventory(username) {
        return fetch("/exchange/offer-user/" + username + "/").then((res) => res.json())
    }

    function openModal(username) {
        $("#userInventory").text(username + "'s Inventory")

        $("#sendOfferLink").click(function () {
            var url = "/exchange/offer-user/" + username + "/";
            window.location.href = url;
        });

        const books = getInventory(username);
        console.log(books)

        $("#inventoryModal").show();

    }

</script>
{% endblock content %}
