{% extends 'base.html' %}


{% load widget_tweaks %}


{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap">
    <link rel="stylesheet" href="styles.css">
    <style>
        nav{
            position: sticky;
            top: 0;
            z-index: 999;
        }
        .star-widget label{
            font-size: 30px;
            color: #c4c4c4;
            padding:7px;
            float: right;
            transition: all 0.2s ease;
        }

        .star-widget input:not(:checked) ~ label:hover,
        .star-widget input:not(:checked) ~ label:hover ~ label{
            color: #fd4;
        }
        .star-widget input:checked ~ label{
            color: #fd4;
        }
        #book_image{
            background-color: #cad1da;
        }
        #card_review{
            background-color: #dddddd;
        }
        #reviewFilter{
            background-color: #dddddd;
        }
        .custom-button {
            color: White;
            background-image: linear-gradient(to bottom right, #68D391, #4299E1);
            transition: background-image 0.3s, box-shadow 0.3s;
            border-radius: 9999px;
            font-size: 0.875rem;
            font-weight: bold;
            font-family: "Dosis", bold;
            padding: 0.625rem 1.25rem;
            text-align: center;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
            margin-left: 0px;
            border: none;
            outline: none;
            cursor: pointer;
        }

        .custom-button:hover {
            background-image: linear-gradient(to bottom left, #8E24AA, #4299E1);
            box-shadow: 0 0 0 4px rgba(75, 85, 99, 0.1);
        }

        .custom-button:focus {
            outline: none;
            box-shadow: 0 0 0 4px rgba(75, 85, 99, 0.2);
        }
        #total_rating {
        font-size: 32px;
        color: #fd4;
        display: inline-block;
        overflow: hidden;
        }
        #total_rating::before { 
        content: "★★★★★" 
        }
        .star-ratings {
            unicode-bidi: bidi-override;
            color: #b6b4b4;
            font-size: 32px;
            position: relative;
            margin: 0;
            padding: 0;
            .fill-ratings {
                color: #fd4;
                padding: 0;
                position: absolute;
                z-index: 1;
                display: block;
                top: 0;
                left: 0;
                overflow: hidden;
                
                span {
                display: inline-block;
                }
            }
            .empty-ratings {
                padding: 0;
                display: block;
                z-index: 0;
            }
        }
        .star-rating {
            display: flex;
            align-items: center;
            font-size: 22px;
            justify-content: center;
        }
        .star-rating-review {
            display: flex;
            align-items: center;
            font-size: 20px;
            justify-content: center;
        }
        .back-stars {
            display: flex;
            color: #b6b4b4;
            position: relative;
        }
        .front-stars {
            display: flex;
            color: #fd4;
            overflow: hidden;
            position: absolute;
            top: 0;
            transition: all .5s
        }
    </style>

    <div class="m-4">

        <!-- Display book image and its detail in columns -->
        <div id="book_container" class="flex justify-between p-8">
    
        </div>

        <!-- Display reviews in a table -->
        <div id="review_container" class="mx-12">

        </div>
        
        <!-- Main modal -->
        <div id="add-review-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 flex items-center justify-center hidden w-full h-full p-4 overflow-x-hidden overflow-y-auto bg-gray-900 bg-opacity-50">
            <div class="relative w-full max-w-md bg-white rounded-lg shadow-lg dark:bg-gray-700">
                <!-- Modal content -->
                <button id="close-modal-button" onclick="closeModal()" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="add-review-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                <div class="px-6 py-6 lg:px-8">
                    <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Share your thought about this book</h3>
                    <form class="space-y-3" id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div>
                            <label for="review_summary" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Review Summary</label>
                            {{ form.review_summary }}
                        </div>
                        <div>
                            <label for="review" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Review</label>
                            {{ form.review_text }}
                        </div>
                        <div class="mt-4 mx-4 rating-css flex justify-center items-center">
                            <div class="star-widget">
                                {% render_field form.review_score name="rating" id="rating1" class="hidden" type="radio" value="5" %}
                                <label for="rating1" class="fas fa-star cursor-pointer"></label>
                            
                                {% render_field form.review_score name="rating" id="rating2" class="hidden" type="radio" value="4" %}
                                <label for="rating2" class="fas fa-star cursor-pointer"></label>
                            
                                {% render_field form.review_score name="rating" id="rating3" class="hidden" type="radio" value="3" %}
                                <label for="rating3" class="fas fa-star cursor-pointer"></label>
                            
                                {% render_field form.review_score name="rating" id="rating4" class="hidden" type="radio" value="2" %}
                                <label for="rating4" class="fas fa-star cursor-pointer"></label>
                            
                                {% render_field form.review_score name="rating" id="rating5" class="hidden" type="radio" value="1" %}
                                <label for="rating5" class="fas fa-star cursor-pointer"></label>

                            </div>
                        </div>
                        <div class="flex items-center justify-center">
                            <div><span class="text-sm font-medium text-gray-900 dark:text-white" style="color: transparent;user-select: none;" id="ratingAlert">Please rate the book</span></div>
                          </div>
                        <button id="btn_submit" type="submit" onclick="addReview('{{ book.id }}')" class="mt-4 w-full text-white bg-green-500 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Post</button>
                    </form>
                </div>
            </div>
        </div>

    
    </div>

    {% csrf_token %}

    <script>
        async function getReviews() {
            return fetch("{% url 'review:get_review_json' book_id=book.id %}").then((res) => res.json())
        }
        async function getBook(){
            return fetch("{% url 'review:get_book_json' book_id=book.id %}").then((res) => res.json())
        }
        async function showBook() {
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const container = document.getElementById("book_container");
            container.innerHTML = "";  // Clear the current content.
            
            const book = await getBook();
            const reviews = await getReviews();
            let messageRating = "rating"
            let avgRating = 0;

            reviews.forEach((review) => {
                avgRating += review.fields.review_score;
            });

            if (reviews.length > 0) {
                avgRating = avgRating / reviews.length;
                if (reviews.length > 1) {
                    messageRating = "ratings";
                }
            }
            
            let htmlString = '';
            let truncatedDesc = book[0].fields.description.split(' ').slice(0, 50).join(' ');

            htmlString += `
            <div id="book_image" class="m-4 w-1/3 flex justify-center items-center rounded-lg overflow-hidden shadow-xl">
                <img class="w-full h-auto object-cover" style="max-height: 600px; max-width: 550px;" src="${book[0].fields.image_link}" alt="book cover">
            </div>
                <div class="m-4 w-2/3 p-4">
                    <h1 class="text-2xl font-bold mb-4">${book[0].fields.title}</h1>
                    <div class="mb-4">
                        <p class="text-gray-700">by <b>${book[0].fields.author}</b></p>
                    </div>
                    <div class="my-4 border-t border-solid border-gray-600 border-t-4 border-opacity-75 mx-0 w-full"></div>
                    <div class="mb-4">
                        <p class="text-gray-700">${truncatedDesc}</p>
                    </div>
                    <div class="mb-4 flex items-center">
                        <span class="mr-2">${avgRating.toFixed(1)}</span>
                        <div class="star-rating" title="${avgRating*20}%">
                            <div class="back-stars">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <i class="fas fa-star" aria-hidden="true"></i>
                                
                                <div class="front-stars" style="width: ${avgRating*20}%">
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <span class="ml-2">(${reviews.length} ${messageRating})</span>
                    </div>
                    <div class="mb-4">
                        <button data-modal-target="add-review-modal" data-modal-toggle="add-review-modal" data-bs-target="#add-review-modal" class="custom-button" type="button" onclick="toggleModal()">
                            Add Review
                        </button>
                    </div>
                </div>`;
            
            const starRatingWrapper = document.querySelector('.star-rating');
            const frontStars =  document.querySelector('.front-stars');

            const rate = e => {
                const percentage = e.target.value + '%';
                starRatingWrapper.title = percentage;
                frontStars.style.width = percentage;
            };
            container.innerHTML = htmlString;
        }

        async function refreshReviews() {
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const container = document.getElementById("review_container");
            container.innerHTML = "";  // Clear the current content.
            
            const reviews = await getReviews();
            const stars = ['1', '2', '3', '4', '5'];
            
            let htmlString = '<div class="flex">';
        

            htmlString += `
            <div class="lg:w-1/5 pt-4 md:w1/4 pt-4">
                <div id="reviewFilter" class="sticky top-20 overflow-y-auto border-2 border-sky-500 rounded-lg p-4">
                    <h2 class="text-lg font-semibold mb-4"><b>Rating</b></h2>
                    <div class="mb-2">
                        <label class="flex items-center">
                            <input type="checkbox" id="fiveStar" onclick="filterItems()" class="mr-2"> 5 Star
                        </label>
                    </div>
                    <div class="mb-2">
                        <label class="flex items-center">
                            <input type="checkbox" id="fourStar" onclick="filterItems()" class="mr-2"> 4 Star
                        </label>
                    </div>
                    <div class="mb-2">
                        <label class="flex items-center">
                            <input type="checkbox" id="threeStar" onclick="filterItems()" class="mr-2"> 3 Star
                        </label>
                    </div>
                    <div class="mb-2">
                        <label class="flex items-center">
                            <input type="checkbox" id="twoStar" onclick="filterItems()" class="mr-2"> 2 Star
                        </label>
                    </div>
                    <div class="mb-2">
                        <label class="flex items-center">
                            <input type="checkbox" id="oneStar" onclick="filterItems()" class="mr-2"> 1 Star
                        </label>
                    </div>
                </div>
            </div>
            <div class="w-4/5">
                `
            if (reviews.length !== 0) {
                reviews.forEach((review, index) => {
                    let showText;
                    let hiddenText;
                    let exceed;
                    if (review.fields.review_text.length > 250) {
                        exceed = true;
                        let reversedSubstring = review.fields.review_text.substring(250).split('').reverse().join(''); 
                        let spaceIndex = reversedSubstring.indexOf(" "); 

                        let sepIdx = spaceIndex !== -1 ? 250 - spaceIndex : 0; 
                        showText = review.fields.review_text.substring(0, sepIdx);
                        hiddenText = review.fields.review_text.substring(sepIdx, review.fields.review_text.length);
                    } else {
                        exceed = false;
                    }
                    let datetime = review.fields.review_date
                    let formattedDate = (new Date(datetime)).toLocaleDateString('en-GB', {
                                                                                    day: 'numeric',
                                                                                    month: 'long',
                                                                                    year: 'numeric',
                                                                                    hour: 'numeric',
                                                                                    minute: 'numeric',
                                                                                    hour12: true,
                                                                                });
                    
                    htmlString += `
                    <div class="card-review${review.fields.review_score} w-full p-4">
                        <div id="card_review" class="bg-white border-2 border-sky-500 rounded-lg overflow-hidden">
                            <div class="px-6 pt-4">
                                <div class="font-bold text-xl mb-2">${review.fields.reviewer_name}</div>

                                <div class="flex items-center">
                                <!-- display rating in star component -->
                                    <div class="flex space-x-1">
                                        <div class="star-rating-review" title="${review.fields.review_score*20}%">
                                            <div class="back-stars">
                                                <i class="fas fa-star" aria-hidden="true"></i>
                                                <i class="fas fa-star" aria-hidden="true"></i>
                                                <i class="fas fa-star" aria-hidden="true"></i>
                                                <i class="fas fa-star" aria-hidden="true"></i>
                                                <i class="fas fa-star" aria-hidden="true"></i>
                                                
                                                <div class="front-stars" style="width: ${review.fields.review_score*20}%">
                                                    <i class="fas fa-star" aria-hidden="true"></i>
                                                    <i class="fas fa-star" aria-hidden="true"></i>
                                                    <i class="fas fa-star" aria-hidden="true"></i>
                                                    <i class="fas fa-star" aria-hidden="true"></i>
                                                    <i class="fas fa-star" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                                <span class="my-2"><b>${review.fields.review_summary}</b></span>
                                <div class="mb-4">
                                    <p class="text-gray-700 text-base">${exceed ? showText + `<span class="text-gray-700 text-base" id="dots${index}">` + `<span id="realDots${index}">...</span>`+ `<button onclick="readMore(${index})" id="readMoreBtn${index}" class="text-blue-500 hover:text-blue-700 text-sm font-medium">Read More</button>` +`<span class="text-gray-700 text-base" id="more${index}" style="display: none;">${hiddenText}</span>` + `</span>` : review.fields.review_text}</p>
                                    ${exceed ? `<button onclick="readMore(${index})" id="readLessBtn${index}" class="text-blue-500 hover:text-blue-700 text-sm font-medium" style="display: none;">Read less</button>` : ''}
                                </div>

                            </div>
                            <div class="px-6 pb-6">
                                <span class="text-gray-600 text-sm">${formattedDate}</span>
                            </div>
                        </div>
                    </div>`;
                });
                htmlString += "</div> </div>"
            }else{
                htmlString = `
                <div class="card-review6 w-full p-4">
                    <div id="card_review" class="bg-white border-2 border-sky-500 rounded-lg overflow-hidden">
                        <div class="card text-center">
                            <div class="card-text flex items-center justify-center mb-1">
                                No reviews yet, be the first to review!
                            </div>
                        </div>
                    </div>
                </div>`;
            }

            $(document).ready(function() {
                var star_rating_width = $('.fill-ratings span').width();
                $('.star-ratings').width(star_rating_width);
            });
            showBook()
            container.innerHTML = htmlString;
        }

        function addReview(book_id) {
            var reviewText = document.getElementById('review').value;
            var reviewSummary = document.getElementById('review_summary').value;
            var reviewScore = document.querySelector('input[name="review_score"]:checked');
            var alertRating = document.getElementById("ratingAlert");

            // Validate review_text, review_summary, and review_score
            if (!reviewText.trim() || !reviewSummary.trim()) {
                return false;
            }

            if (!reviewScore) {
                alertRating.style.color = "";
                alertRating.style.userSelect = "";
                setTimeout(function() {
                    alertRating.style.color = "transparent";
                    alertRating.style.userSelect = "none";
                }, 5000); // 5000 milliseconds = 5 seconds
                return false;
            }

            fetch("add-review-ajax/" + book_id + "/", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshReviews)
            closeModal()

            // alertRating.style.display = "none";

            document.getElementById("form").reset()
            return false
        }
        
        function closeModal() {
            var modal = document.getElementById('add-review-modal');
            modal.classList.add('hidden');
        }
        
        function toggleModal() {
            var modal = document.getElementById('add-review-modal');
            modal.classList.toggle('hidden');
        }
        function readMore(index) {
            var dots = document.getElementById(`dots${index}`);
            var moreText = document.getElementById(`more${index}`);
            var realDots = document.getElementById(`realDots${index}`);
            var readLessBtn = document.getElementById(`readLessBtn${index}`);
            var readMoreBtn = document.getElementById(`readMoreBtn${index}`);

            if (readMoreBtn.style.display === "none") {
                // hide 
                dots.style.display = "inline";
                realDots.style.display = "inline";
                readMoreBtn.style.display = "inline";
                readLessBtn.style.display = "none";
                moreText.style.display = "none";
            } else {
                // show
                dots.style.display = "inline";
                realDots.style.display = "none";
                readMoreBtn.style.display = "none";
                readLessBtn.style.display = "inline";
                moreText.style.display = "inline";
                
            }
        }
        function filterItems() {
            var rating5 = document.getElementsByClassName('card-review5 w-full p-4');
            var rating4 = document.getElementsByClassName('card-review4 w-full p-4');
            var rating3 = document.getElementsByClassName('card-review3 w-full p-4');
            var rating2 = document.getElementsByClassName('card-review2 w-full p-4');
            var rating1 = document.getElementsByClassName('card-review1 w-full p-4');

            toggleDisplay(rating5, 'fiveStar');
            toggleDisplay(rating4, 'fourStar');
            toggleDisplay(rating3, 'threeStar');
            toggleDisplay(rating2, 'twoStar');
            toggleDisplay(rating1, 'oneStar');
        }

        function toggleDisplay(elements, checkboxId) {
            var allUnchecked = true;

            // Check if any checkbox is checked
            document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
                if (checkbox.checked) {
                    allUnchecked = false;
                }
            });

            // If all checkboxes are unchecked, show all elements
            if (allUnchecked) {
                for (var i = 0; i < elements.length; i++) {
                    elements[i].style.display = 'block';
                }
                return;
            }

            // If any checkbox is checked, apply individual display logic
            var shouldHide = document.getElementById(checkboxId).checked;

            for (var i = 0; i < elements.length; i++) {
                elements[i].style.display = shouldHide ? 'block' : 'none';
            }
        }

        
        showBook()
        refreshReviews()
    </script>
    
{% endblock content %}