{% extends 'base.html' %}
{% block meta%}
<title>Recommendation</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap">
<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
<style>
    #judul {
        margin-top: 100px;
        margin-bottom: 100px;
        font-family: 'Dosis', sans-serif;
        font-size: 100px;
    }

    .card-container {
        width: 100%;
        padding: 4px;
    }

    .card {
        background-color: #dddddd;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
        border-radius: 0.375rem;
        overflow: hidden;
    }

    .card-content {
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 5px;
    }

    .card-footer{
        padding: 12px;
    }

    .card-title {
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .card-text {
        color: #4a5568;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .card-desc {
        color: #4a5568;
        font-size: 0.900rem;
    }

    .card-date {
        color: #718096;
        font-size: 0.875rem;
    }

    .custom-button {
        color: White;
        background-image: linear-gradient(to bottom right, #68D391, #4299E1);
        transition: background-image 0.3s, box-shadow 0.3s;
        border-radius: 9999px;
        font-size: 0.875rem;
        font-weight: bold;
        font-family: "Dosis", bold;
        padding: 0.625rem 1.25rem;
        text-align: center;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 20px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .custom-button:hover {
        background-image: linear-gradient(to bottom left, #8E24AA, #4299E1);
        box-shadow: 0 0 0 4px rgba(75, 85, 99, 0.1);
    }

    .custom-button:focus {
        outline: none;
        box-shadow: 0 0 0 4px rgba(75, 85, 99, 0.2);
    }

    .dark .custom-button:focus {
        box-shadow: 0 0 0 4px rgba(45, 148, 72, 0.2);
    }
</style>
{% endblock meta%}
{% block content %}
<div class="text-center" id="judul">
    <strong>User Recommendations</strong>
</div>
<div class="mb-4">
    <button data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="custom-button" type="button">
        Write Recommendation
    </button>
</div> 
<!-- Main modal -->
<div id="authentication-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="authentication-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Write your recommendation!</h3>
                <form class="space-y-6" action="#">
                    <div>
                        <label for="owned_book" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Choose your book that you want to recommend</label>
                        <select id="owned_book" class="owned_book bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </select>
                    </div>
                    <div class="flex justify-center">
                        <img src="" id="book-image" alt="book image">
                    </div>
                    <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" style="font-family: 'Dosis', sans-serif; font-weight: bold;">Next</button>
                </form>
            </div>
        </div>
    </div>
</div> 

<div class="flex flex-wrap card-container" id="card-container">
</div>

<br>

<script>
    async function getRecommendations() {
        return fetch("{% url 'recommendation:get_recommendation_json' %}").then((res) => res.json())
    }
    async function getUserBooks(){
        const response = await fetch("{% url 'recommendation:get_user_inventory_json' %}")
        const data = await response.json();
        const bookTitles = data.book_titles;
        return bookTitles
    }
    async function getBookImages(){
        const response = await fetch("{% url 'recommendation:get_book_image' %}")
        const data = await response.json();
        const bookImages = data.book_images;
        return bookImages
    }
    async function refreshRecommendations() {
        document.getElementById("card-container").innerHTML = ""
        const recommendations = await getRecommendations()
        recommendations.forEach((rec) => {
            const card = document.createElement("div")
            card.classList.add("w-full", "p-4")
            const cardContainer = document.createElement("div")
            cardContainer.classList.add("card")
            const cardContent = document.createElement("div")
            cardContent.classList.add("card-content")
            const cardTitle = document.createElement("div")
            cardTitle.classList.add("card-title")
            cardTitle.innerHTML = `${rec.fields.recommender_name}`
            const cardText = document.createElement("div")
            cardText.classList.add("card-text")
            cardText.innerHTML = `${rec.fields.recommender_name} recommends ${rec.fields.another_book_title}`
            const cardDesc = document.createElement("div")
            cardDesc.classList.add("card-desc")
            cardDesc.innerHTML = `if you like ${rec.fields.book_title}`
            const cardFooter = document.createElement("div")
            cardFooter.classList.add("card-footer")
            const cardDate = document.createElement("span")
            cardDate.classList.add("card-date")
            cardDate.innerHTML = rec.fields.recommendation_date
            cardFooter.appendChild(cardDate)
            cardContent.appendChild(cardTitle)
            cardContent.appendChild(cardText)
            cardContent.appendChild(cardDesc)
            cardContainer.appendChild(cardContent)
            cardContainer.appendChild(cardFooter)
            card.appendChild(cardContainer)
            document.getElementById("card-container").appendChild(card)
        })
    }
    async function refreshInventory(){
        const books_title = await getUserBooks()
        const book_image = await getBookImages()
        const selectedElement = document.getElementById("owned_book");
        console.log(book_image)
        if (Array.isArray(books_title) && books_title.length > 0) {
            books_title.forEach((title, idx) => {
            const option = document.createElement("option");
            option.value = title;
            option.text = title;
            selectedElement.appendChild(option);
            if (idx === 0) {
                document.getElementById("book-image").setAttribute("src", book_image[0]);
            }
        });
        } else {
            const option = document.createElement("option");
            option.text = "You don't have any book yet";
            selectedElement.appendChild(option);
            selectedElement.disabled = true;
            document.getElementById("book-image").style.display = "none";
        }
    }
    $(document).ready(function() {
    $("select.owned_book").change(async function() {
        const bookImages = await getBookImages();
        
        let selectedIndex = $(this).prop("selectedIndex");
        let newImageSource = bookImages[selectedIndex];
        
        console.log(newImageSource);
        $("#book-image").attr("src", newImageSource);
        });
    });
    function addRecommendation() {
        fetch("{% url 'recommendation:add_recommendation_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshRecommendations)

        document.getElementById("form").reset()
        return false
    }
    refreshInventory()
    refreshRecommendations()
</script>
{% endblock content %}