{% extends 'base.html' %}
{% load static %}
{% block meta%}
<title>Recommendation</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap">
<link rel="stylesheet" href="{% static 'recommend_styles.css' %}">
<script type="text/javascript">
    window.recommendationUrl = "{% url 'recommendation:get_recommendation_json' %}";
    window.bookIdsUrl = "{% url 'recommendation:get_book_ids' %}";
    window.userInventoryUrl = "{% url 'recommendation:get_user_inventory_json' %}";
    window.bookImageUrl = "{% url 'recommendation:get_book_image' %}";
</script>
{% endblock meta%}
{% block content %}
<div class="text-center" id="judul">
    <strong class="text-2xl md:text-5xl lg:text-7xl xl:text-10xl">User Recommendations</strong>
</div>
<div class="">
    <button data-modal-target="add-recommendation-modal" data-modal-toggle="add-recommendation-modal" class="custom-button" type="button">
        Write Recommendation
    </button>
</div> 
<!-- Main modal -->
<div id="add-recommendation-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="add-recommendation-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Write your recommendation!</h3>
                <form id="form" class="space-y-6" onsubmit="return false;">
                    {% csrf_token %}
                    <div>
                        <label for="owned_book" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Choose your book that you would like to make a recommendation for</label>
                        <select id="owned_book" class="owned_book bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </select>
                    </div>
                    <div class="flex justify-center">
                        <img src="" id="book-image" alt="book image">
                    </div>
                    <div>
                        <label for="owned_book2" id="label_owned_book2" class="owned_book2 block mb-2 text-sm font-medium text-gray-900 dark:text-white">Choose your book that is similar to </label>
                        <select id="owned_book2" class="owned_book2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </select>
                    </div>
                    <div class="flex justify-center">
                        <img src="" id="book-image2" alt="book image">
                    </div>
                    <div></div>
                        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                        <textarea name="description_text" id="description" rows="6" class="resize-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-800 focus:border-green-800 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Why do you recommend the book"></textarea>
                    <div class="flex justify-between">
                        <button type="submit" id="submit-button" data-modal-hide="add-recommendation-modal" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" style="font-family: 'Dosis', sans-serif; font-weight: bold; margin-right: 8px;">Submit</button>
                        <button type="button" id="cancel-button" data-modal-hide="add-recommendation-modal" class="w-full text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" style="font-family: 'Dosis', sans-serif; font-weight: bold;">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="flex flex-wrap card-container" id="card-container">
</div>

<br>
<script defer src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script defer src="{% static 'recommend_script.js' %}"></script>

{% endblock content %}