{% extends 'base.html' %}

{% block content %}

    <h1>Litera</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>

<a href="{% url 'authentication:logout' %}">
    <button>
        Logout
    </button>
</a>

<br>
<br>

<a href=" ../review/show-review ">
  <button>
      See Review
  </button>
</a>

<br>
<br>

<a href=" ../catalog/show-catalog ">
  <button>
      See Catalog
  </button>
</a>

<div id="post-form" class= " flex justify-center mt-24 mb-10 ">
    <div class="w-4/5 grid grid-cols-1 text-center shadow-md  rounded-lg bg-gradient-to-b from-sky-200 to-sky-300 md:w-2/5 p-5 ">
      <p class="text-gray-700" >
        Have something to share about Litera?  
      </p>
      <p class="text-gray-700 mb-5">
        Drop your feedback below!
      </p>
      <form id="question-form" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-6 mb-2">
        {% csrf_token %}
        <fieldset>
          <div class="grid grid-cols-1">            
            {{ form }}
          </div>
          <button id="submit-btn" type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mt-5">Submit</button>
        </fieldset>
      </form>
        <span class="block text-sm text-gray-600 sm:text-center dark:text-gray-500" >Last feedback submission:</span>
        <!-- <span id="last-submit-question" class="block text-sm text-gray-600 sm:text-center dark:text-gray-500" >{{ last_feedback }}</span> -->
      </div>
  </div>

<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}